@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

html,body{
    height:100%;
    margin:0;
    padding:0;
}

body {
    overflow: hidden;
}

p, div {
    padding: 0;
    margin: 0;
}

input, button {
    outline: none;
}

.container {
    width: 100%;
    height: 100%;
    background: url("https://s3.ap-northeast-2.amazonaws.com/woowanote-dooho-s3/src/login_background.jpeg");
    background-repeat: no-repeat;
    background-position: 50% bottom;
    background-size: cover;
    overflow: hidden;
    box-sizing: border-box;
}
.content {
    position: relative;
    width: 700px;
    min-height: 450px;
    margin: 100px auto 0px;
    padding: 30px;
    background-color: white;
    box-shadow: 0px 0px 24px 2px slategrey;
    border-radius: 15px;
    box-sizing: border-box;
}

.welcome-message {
    margin: 40px auto 0px;
    text-align: center;
    font-size: 25px;
}

.welcome-message > span {
    font-family: 'Shrikhand', cursive;
    color: #04BFBF;
}

.content > form {
    width: 400px;
    margin: 40px auto 0px;
}

.content > form > .form-group {
    width: 100%;
    margin-top: 20px;
}

#email, #password {
    width: 100%;
    height: 60px;
    padding-left: 23px;
    border: #04BFBF solid 3px;
    border-radius: 12px / 10px;
    box-sizing: border-box;
    font-size: 17px;
}

#loginButton {
    width: 100%;
    height: 70px;
    margin-top: 25px;
    margin-bottom: 5px;
    background-color: #04BFBF;
    border: none;
    border-radius: 12px / 10px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

#loginButton:hover {
    background-color: #27b2b0;
}

.no-account {
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 15px;
    color: slategray;
}

.no-account > a {
    color: #e57085;
}

#password-validation, #email-validation {
    color:red !important;
    display: none;
    margin-top: 5px;
    margin-left: 25px;
    font-size: 13px;
}