@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

.ru-hero {
    margin-top: 70px;
    margin-bottom: 100px;
}
.ru-hero .row {
    overflow: hidden;
    padding: 0;
}
.row {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 40px;
}

.ru-primary-cta {
    position: relative;
    width: 50%;
    float: left;
    height: 0;
    padding-top: 50%;
}

.ru-primary-cta .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    text-align: center;
    padding: 0 40px;
}

.ru-upsell.business {
    position: relative;
    width: 50%;
    float: left;
    height: 0;
    padding-top: 50%;
    background: #fbfcfd;
}

.ru-upsell.business .image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

.ru-upsell.business .image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: 120%;
}

.ru-upsell.business .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    text-align: center;
    padding: 0 40px;
}

.ru-upsell.business h2 {
    font-size: 32px;
    color: #fff;
    margin-bottom: 20px;
}

.ru-upsell.business .pricing {
    font-family: "Gotham_SSm_3r", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    margin-bottom: 15px;
}

.ru-upsell.business .description {
    color: #fff;
    margin-bottom: 40px;
}

.ctas > button {
    font-size: 13px;
    min-width: 180px;
    padding: 17px 20px 16px;
}

.content > form > button {
    display: block;
    width: 100%;
    padding: 15px 18px 14px;
}

p, ul, ol, table {
    font-family: "webfont";
    font-size: 13px;
    line-height: 21px;
}

.no-account {
    margin-top: 10px;
}

.content > form {
    width:400px;
    margin:auto;
}

.content > form > .form-group {
    margin-top:15px;
}

#password-validation, #email-validation {
    color:red !important;
    display: none;
}