#note-section-note-title {
    border-style: none;
    font-size:30px;
    height:50px;
}

#editSection {
    width: 850px;
}

#note-save-button {
    left: 790px;
    position: relative;
    margin: 10px;
    font-size: 15px;
}

.tui-editor-contents {
    text-align : none;
}