#note-section-note-title {
    border-style: none;
    font-size:30px;
    height:50px;
}

#editSection {
    width: 850px;
}

.note-save-delete {
    left: 750px;
    position: relative;
    margin: 10px;
}

.note-save-delete button {
    color: #233A40;
}

.tui-editor-contents {
    text-align : none;
}