.comment-fold {
    display: inline-block;
    position: relative;
    left: 30px;
    cursor: pointer;
}

.comment-fold > span {
    bottom: 7px;
    position: relative;
}

.comment-section {
    border-top: 1px solid gray;
    padding-top: 10px;
    display: none;
}

.comment-list-section {
    margin: 0px;
    padding: 0px;
}

.comment-list {
    list-style: none;
    padding-left: 0px;
    width: 500px;
    box-sizing: border-box;
}

.comment-list > li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.comment-show-section {
    width: 94%;
}

.comment-writer-img {
    padding-top: 3px;
    vertical-align: top;
}

.comment-writer {
    font-weight: bold;
    font-size: 15px;
}

.comment-content {
    font-size: 13px;
}

.delete-comment-button {
    color: #233A40;
    cursor: pointer;
    float: right;
    margin-right: 13px;
}

.comment-write-section > img, .comment-show-section img{
    vertical-align: middle;
    border-radius: 50%;
    height: 32px;
    width: 32px;
}

.comment-write-section > input {
    width: 85%;
    height: 30px;
    border-radius: 18px;
    padding-left:15px;
    border: 1px solid lightgray;
    padding-right:30px;
}

.comment-write-section > input:focus {
    border: 2px solid #55BCBE;
    border-radius: 18px;
    outline-style:none;
    box-shadow:none;
}

.comment-write-section > i {
    margin-left: -35px;
    cursor: pointer;
}

#add-comment-button:hover, .delete-comment-button:hover, .comment-fold:hover {
    color:#e57085;
}

.comment-list .comment-show-section {
    background:#EFF1EC;
    padding:10px;
    margin:10px;
    position:relative;
    border-radius:5px;
}

.comment-list .comment-show-section:after {
    content:"";
    width:0;
    height:0;
    border-top:20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 20px solid #EFF1EC;
    border-left:none;
    right:auto;
    left:-20px;
    position: absolute;
    top:10px;
}