.share-notebook-popup {
    width: 400px;
    min-height: 100px;
    z-index: 1;
    position: absolute;
    left: 550px;
    top: 150px;
    padding: 30px 50px 18px;
    background-color: #F2EFEB;
    box-shadow: 0px 1px 9px -1px slategrey;
    border-radius: 9px;
}

.share-notebook-popup > p {
    font-size: 14px;
    color: white;
    padding: 7px 24px;
    margin: 0px 0px 19px;
    background: darkgray;
    display: inline-block;
    border-radius: 5px;
}

.share-invitation > input {
    width: 100%;
    height: 40px;
    padding: 5px 10px;
    border: none;
    border-bottom: #04BFBF solid 3px;
    background-color: #F2EFEB;
    font-size: 17px;
    box-sizing: border-box;
}

#share-invitation-list {
    margin-bottom: 6px;
}

#share-invitation-list, #share-invitation-list > li > i {
    font-size: 13px;
    color: slategrey;
}

#share-invitation-list > li {
    padding: 3px 10px;
    display: inline-block;
}

.invitation-cancel-button {
    margin-left: 3px;
    cursor: pointer;
}

.share-notebook-popup > button {
    height: 40px;
    width: 100px;
    position: relative;
    left: 317px;
    border: #04BFBF solid 0.7px;
    font-size: 15px;
    color: gray;
    border-radius: 12px / 10px;
    cursor: pointer;
    outline: none;
}

.share-notebook-popup > button:hover {
    background-color: #04BFBF;
    color: white;
}

#invite-validation {
    color:red !important;
    display: none;
    margin-top: 5px;
    margin-left: 7px;
    font-size: 13px;
}
