html,body{
    overflow: hidden;
    height:100%;
    margin:0;
    padding:0;
}
p {
    margin: 0;
}
button {
    border: none;
}
input {
    outline: none;
}
.grid-container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 210px 220px auto;
    grid-template-rows: 40px calc(100vh - 43px);
    grid-gap: 3px;
}
.header {
    position: relative;
    grid-area: 1 / span 3;
    background: #04BFBF;
}

#logo {
    position: relative;
    left: 15px;
    padding-top: 3px;
    padding-bottom: 0px;
    font-size: 27px;
    color: white;
    font-family: 'Shrikhand', cursive;
}

#logout {
    font-size: 22px;
    position: relative;
    left: calc(94vw - 210px);
    color: white;
    background: transparent;
    cursor: pointer;
}

#logout:hover {
    text-shadow: 2px 2px rgba(0,0,0,0.25);
}

.main-content {
    overflow-x: hidden;
    overflow-y: scroll;
}