.side-bar-left {
    background: #233A40;
    font-size: 20px;
    color: white;
    padding: 0px;
    grid-column: 1;
    grid-row: 2;
}

.side-bar-left-header {
    min-height: 50px;
    box-sizing: border-box;
    position: relative;
}

.side-bar-left-body {
    height: calc(100vh - 200px);
    margin: 0;
    box-sizing: border-box;
    overflow: scroll;
}

.notebook-list {
    min-height: 150px;
}

.notebook-list, .shared-notebook-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: left;
    line-height: 2;
    font-size: 13px;
}

.side-bar-left-body li {
    height: 25px;
    margin: 10px 10px 0px;
    padding: 0px 12px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    box-sizing: border-box;
}

.notebook-list li > span {
    width: 100%;
    height: 20px;
    position: relative;
}

.notebook-list > li > span:hover, .shared-notebook-list > li > span:hover {
    color: #e57085;
}
.notebook-list > li > .fa-trash-alt {
    display: none;
    float:right;
    margin-left:5px;
 }

.notebook-list > li > .fa-share-alt {
    margin-left: 0px;
    margin-right: 6px;
    font-size: 8px;
    float: left;
}

.notebook-list > li > i {
    margin-top: 6px;
}

.notebook-list > li:hover > .fa-trash-alt {
    display: block;
}

.notebook-list > li:hover > span, .notebook-list > li:hover > .fa-share-alt {
    color: #e57085;
}


.notebook-list > li:hover > .fa-trash-alt:hover {
    color: #e57085;
}

.notebook-focus {
    color: #e57085;
    border-left: solid #e57085 1px;
}

.notebook-focus .fa-trash-alt {
    color: white;
}

.notebook-focus .fa-trash-alt:hover {
    color: #e57085;
}

.notebook-title {
    list-style-type: none;
    text-align: left;
    padding: 0;
    margin: 15px 10px 0px;
    font-size: 20px;
}

#add-notebook-input-btn {
    margin-top: 5px;
    margin-left: 18px;
    cursor: pointer;
    color: slategrey;
}

#add-notebook-input-btn:hover {
    color: white;
}

#add-notebook-input-btn > i {
    font-size: 15px;
}

#add-notebook-input-btn > span {
    position: relative;
    bottom: 3px;
    font-size: 11px;
}

.notebook-input-wrapper {
    margin: 0px 20px 0px;
    padding: 0px 13px;
    display: none;
}

#notebook-title-input {
    height: 15px;
    width: 100%;
    padding-left: 7px;
}

#remove-notebook-input-btn {
    width: 18px;
    height: 18px;
    margin-left: 25px;
    align: center;
    cursor: pointer;
}

.notebook-list > hr {
    display: block;
    margin: 18px 8px 10px 6px;
    border-style: solid;
    border-width: 0.5px;
    color: slategrey;
}

.shared-notebook-header {
    font-size: 13px;
    margin: 0px 10px;
}

#notebook-title-validation {
    font-size: 12px;
    color:#e57085;
    margin: 0px 20px 0px;
    left: 22px;
    position: relative;
}

#hide-note-list-btn {
    position: absolute;
    left: 190px;
    top: 3px;
    cursor: pointer;
}