.side-bar-left {
    background: #233A40;
    font-size: 20px;
    color: white;
    padding: 0px;
    grid-column: 1;
    grid-row: 2;
}

.side-bar-left-header {
    min-height: 50px;
    box-sizing: border-box;
}

.side-bar-left-body {
    margin: 0;
    box-sizing: border-box;
}

.notebook-list {
    height: calc(100vh - 43px);
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: left;
    line-height: 2;
    font-size: 13px;
    overflow: scroll;
}

.side-bar-left-body li {
    height: 25px;
    margin: 10px 20px;
    padding: 0px 20px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    box-sizing: border-box;
}

.notebook-list > li:hover {
    color: #e57085;
}

.notebook-focus {
    color: #e57085;
    border-left: solid #e57085 1px;
}

.notebook-title {
    list-style-type: none;
    text-align: left;
    padding: 0;
    margin: 15px 10px 0px;
    font-size: 20px;
}

#add-notebook-input-btn {
    margin-top: 5px;
    margin-left: 18px;
    cursor: pointer;
    color: slategrey;
}

#add-notebook-input-btn:hover {
    color: white;
}

#add-notebook-input-btn > i {
    font-size: 15px;
}

#add-notebook-input-btn > span {
    position: relative;
    bottom: 3px;
    font-size: 11px;
}

.notebook-input-wrapper {
    margin: 0px 20px 0px;
    padding: 0px 20px;
    display: none;
}

#notebook-title-input {
    height: 17px;
}

#remove-notebook-input-btn {
    width: 18px;
    height: 18px;
    margin-left: 25px;
    align: center;
    cursor: pointer;
}
