.side-bar-middle {
    background: #F2EFEB;
    grid-column: 2;
    grid-row: 2;
    /* border: #d9d7d3 solid 0.5px; */
}

.note-list, #share-invitation-list {
    list-style-type: none;
    padding: 0;
}

.note-list li {
    cursor: pointer;
}

p.note-list-title, p.note-list-snippet {
    /*margin: 20px;*/
}

.note-item {
    position: relative;
    border: #04BFBF solid 0.7px;
    background-color: white;
    width: 180px;
    height: 150px;
    box-sizing: border-box;
    overflow: hidden;
    padding: 20px;
    margin: 14px 0px;
}

.note-item.note-item-focus {
    border: #e57085 solid 0.7px;
}

.note-list-title {
    width: 140px;
    position: absolute;
    top: 16px;
    font-size: 17px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
}

.note-list-snippet {
    width: 140px;
    position: absolute;
    top: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    font-size: 11px;
    text-align: justify;
    line-height: 1.5;
    color: gray;
}

.note-list-snippet > span {
    color: #04BFBF;
}

.side-bar-middle-header {
    height: 100px;
    position: relative;
    box-sizing: border-box;
    background-color: white;
    border: #c1bfbc solid 0.5px;
    padding: 16px 15px;
}

.side-bar-middle-notebook-title {
    font-size: 21px;
    width: 200px;
    word-break: break-all;
    word-wrap: break-word;
    white-space: nowrap;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
}

.side-bar-middle-notebook-meta {
    font-size: 12px;
    color: gray;
    text-align: left;
    margin-top: 12px;
    display: block;
}

.share-notebook-open-button {
    position: absolute;
    left: 105px;
    cursor: pointer;
}

.share-notebook-open-button:hover {
    color: #233A40;
}

.side-bar-middle-body {
    height: calc(100vh - 128px);
    padding: 0px 19px;
    border-left: #c1bfbc solid 0.5px;
    border-right: #c1bfbc solid 0.5px;
    overflow: scroll;
}

#add-note-btn-section {
    left: 168px;
    margin-top: 5px;
    padding-right: 0px;
    margin-right: 0px;
    font-size: 12px;
    cursor: pointer;
    color: slategrey;
}

#add-note-btn-section > .shared-info {
    display:none;
    float:right;
}

#add-note-btn-section > .shared-info > .shared-count {
    font-size:2px;
}


#add-note-btn-section > #add-note-btn:hover {
    color:#e57085;
}

.note-list-hide {
    display: none;
}

.share-notebook-popup {
    width: 400px;
    min-height: 100px;
    z-index: 1;
    position: absolute;
    left: 550px;
    top: 150px;
    padding: 30px 50px 18px;
    background-color: #F2EFEB;
    box-shadow: 0px 1px 9px -1px slategrey;
    border-radius: 9px;
}

.share-notebook-popup > p {
    font-size: 14px;
    color: white;
    padding: 7px 24px;
    margin: 0px 0px 19px;
    background: darkgray;
    display: inline-block;
    border-radius: 5px;
}

.share-invitation > input {
    width: 100%;
    height: 40px;
    padding: 5px 10px;
    border: none;
    border-bottom: #04BFBF solid 3px;
    background-color: #F2EFEB;
    font-size: 17px;
    box-sizing: border-box;
}

#share-invitation-list {
    margin-bottom: 6px;
}

#share-invitation-list, #share-invitation-list > li > i {
    font-size: 13px;
    color: slategrey;
}

#share-invitation-list > li {
    padding: 3px 10px;
    display: inline-block;
}

.invitation-cancel-button {
    margin-left: 3px;
    cursor: pointer;
}

.share-notebook-popup > button {
    height: 40px;
    width: 100px;
    position: relative;
    left: 317px;
    border: #04BFBF solid 0.7px;
    font-size: 15px;
    color: gray;
    border-radius: 12px / 10px;
    cursor: pointer;
}

.share-notebook-popup > button:hover {
    background-color: #04BFBF;
    color: white;
}