* {
    outline: 1px solid grey !important;
}

#note-section-note-title {
    border-style: none;
    font-size:30px;
    height:65px;
    width: 100%;
}

#editSection {
    width: 100%;
}

.note-save-delete {
    left: 78%;
    position: relative;
    margin: 10px;
}

.note-save-delete button {
    color: #233A40;
    cursor: pointer;
}

.note-save-delete button:hover {
    color:#e57085;
}

.tui-editor-contents {
    text-align : none;
}

.main-content {
    text-align: left;
    padding: 25px;
    grid-column: 3;
    grid-row:2;
}

.main-content-expand {
    grid-column: 2 / span 2;
}

.note-section-meta {
    position: relative;
    height: 40px;
    color: gray;
    font-size: 14px;
}

#note-section-meta-datetime {
    display: inline-block;
    position: relative;
    left: 100px;
    bottom: 9px;
}

#note-section-meta-writer {
    position: relative;
    left: 30px;
    display: inline-block;
}

#note-section-meta-writer > img {
    height: 32px;
    border-radius: 50%;
}

#note-section-meta-writer > span {
    margin-left: 10px;
    position: relative;
    bottom: 10px;
}



