.be-fixed-sidebar .be-left-sidebar {
    height: 100%;
    margin-top: 61px;
    padding-bottom: 61px;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 1029;
}

.be-left-sidebar {
    background-color: #f5f5f5;
    width: 230px;
    left: 0;
    position: absolute;
    border-right: 1px solid #e3e3e3;
}

.be-left-sidebar .left-sidebar-wrapper {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
}

.be-left-sidebar .left-sidebar-toggle {
    display: none;
    background-color: #fff;
    padding: 16px 10px;
    color: #404040;
    font-weight: 300;
    font-size: 1.077rem;
}

.be-left-sidebar .left-sidebar-spacer {
    height: 100%;
    display: table-row;
}

.be-left-sidebar .left-sidebar-scroll {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.left-sidebar-content {
    overflow: scroll;
}
.be-fixed-sidebar .be-left-sidebar .left-sidebar-content {
    position: absolute;
}

.be-left-sidebar .left-sidebar-content {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 8px;
}

.be-left-sidebar .sidebar-elements {
    margin: 0;
    padding: 0;
}

ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

.be-left-sidebar .sidebar-elements .divider {
    padding: 20px 20px 0;
    color: #b0b0b0;
    line-height: 30px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: .8462rem;
}

.be-left-sidebar .sidebar-elements>li {
    list-style: none;
}

.be-left-sidebar .sidebar-elements>li>a {
    display: block;
    padding: 0 20px;
    color: #696969;
    font-size: 1.077rem;
    line-height: 38px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.be-left-sidebar .sidebar-elements>li ul {
    display: none;
    background-color: #eee;
    padding: 10px 0;
    list-style: none;
    line-height: 20px;
}

.be-left-sidebar .sidebar-elements>li>ul {
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}



.be-top-header {
    background-color: #fff;
    border: 0;
    margin-bottom: 0;
    border-bottom: 1px solid #e6e6e6;
    padding: 0;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.navbar-expand {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.be-top-header .be-navbar-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 230px;
}

.be-top-header .be-right-navbar {
    padding-right: 20px;
    width: calc(100% - 230px);
}
